<!DOCTYPE html>
<html>
  <head>
    <title>MQTT Client - Mainpage</title>
    <script type="text/javascript" src="/lib/socket.io.js"></script>
    <script type="text/javascript" src="/lib/jquery.min.js"></script>
    <script type="text/javascript">
      var socket = io();
      socket.on('mqtt', function(msg) {
      $('#tbl').prepend('<tr><td>' + msg.datetime + '</td><td>' + msg.topic + '</td><td>' + msg.message + '</td></tr>');
      });
    </script>
    <style>
      table, th, td {
        border: 1px solid black;
      }
      table {
        width: 100%;
      }
      .col1 {
        min-width: 150px;
        text-align: left;
      }
      .col2 {
        width: 40%;
        text-align: left;
      }
      .col3 {
        width: 40%;
        text-align: left;
      }
    </style>
  </head>
  <body>
    <div>
      <a href="/">MAIN</a> <a href="/history">HISTORY</a>
    </div>
    <div>
      <table>
        <thead>
          <tr>
            <th class="col1">Datetime</th>
            <th class="col2">Topic</th>
            <th class="col3">Payload</th>
          </tr>
        </thead>
        <tbody id="tbl"></tbody>
      </table>
    </div>
  </body>
</html>
