<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <a>{{profiledata?.forename}}</a>
  </ion-item>
  <ion-item>
    <a>{{profiledata?.surname}}</a>
  </ion-item>
  <ion-item>
    <a>{{profiledata?.created_at}}</a>
  </ion-item>
  <ion-item>
    <a>{{profiledata?.location}}</a>
  </ion-item>
  <ion-button (click)="logout()">logout</ion-button>

</ion-content>
